<div class='mainDiv'>
    <div *ngIf='doctor; then thenBlock else elseBlock' ></div>
    
    <div class='header'>
        <ng-template #thenBlock>
            <header [FIO] = "fio"></header>
        </ng-template>
        <ng-template #elseBlock>
            <header></header>
        </ng-template>

        <div class='room'>
            <mat-form-field>
                <mat-label>Номер кабинета</mat-label>
                <input (keydown.enter) = "onRoomEnter()" matInput [(ngModel)]="doctor.room_number">
            </mat-form-field>
            <button (click) = "onRoomEnter()">Подтвердить</button>
            <p *ngIf='disableButtons' class='errorMessage'>Подтвердите номер кабинета, в котором вы находитесь</p>
            
            <p class='tableName'>Список пациентов</p>
        </div>

        <mat-grid-list class='list-header' cols='10' rowHeight='60px'>
            <mat-grid-tile [colspan]='1'>
                <p>Номер</p>
            </mat-grid-tile>
            <mat-grid-tile [colspan]='7'>
                <p>ФИО</p>
            </mat-grid-tile>
            <mat-grid-tile [colspan]='2'>
                <p>Время приема</p>
            </mat-grid-tile>
        </mat-grid-list>
    </div>

    <div class='list'>        
        <mat-grid-list class='list' cols='10' rowHeight='60px'>                      
            <div *ngFor = 'let item of doctorPatientList; let i=index'>
                <mat-grid-tile class = {{item.status_name}} [colspan]='1'>
                    <p>{{i + 1}}</p>
                </mat-grid-tile>
                <mat-grid-tile class = {{item.status_name}} [colspan]='7'>
                    <p>{{item.citizen_name_1}} {{item.citizen_name_2}} {{item.citizen_name_3}}</p>
                </mat-grid-tile>
                <mat-grid-tile class = {{item.status_name}} [colspan]='2'>
                    <div *ngIf = 'item.visit_time; then thenBlock; else elseBlock'></div>
                    <ng-template #thenBlock>
                        <p>{{item.visit_time}}</p>
                    </ng-template>
                    <ng-template #elseBlock>
                        <p>Б/В</p>
                    </ng-template>            
                </mat-grid-tile>
            </div>
        </mat-grid-list>
    </div>

    <div class='buttons'>
        <mat-grid-list class='buttons' cols='4' rowHeight='60px'>
            <mat-grid-tile [colspan] = '3'>        
            </mat-grid-tile>    
            <mat-grid-tile>
                <button (click)="onCallNextPatient()" [disabled]="disableButtons">Вызвать пациента</button>
            </mat-grid-tile>
            <mat-grid-tile>
                <button (click)="onBack()" [routerLink]="['/']">Назад</button>
            </mat-grid-tile>
            <mat-grid-tile [colspan]='2'>        
            </mat-grid-tile>
            <mat-grid-tile> 
                <button (click)="onEndCurrentPatiend()" [disabled]="disableButtons"> Завершить прием</button>       
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</div>