* {
  font-size: large;  
}

div.mainDiv {
  height: 100%;
  width: 100%;  
  display: flex;
  flex-direction: column;
  background: lightblue;
}

div.header {
  height: auto;  
}

div.list {
  overflow: auto;
  flex: auto;
}

div.buttons {
  height: auto; 
} 

mat-grid-list.list-header {
  border: 2px solid black;
}
mat-grid-list.list {
  border: 2px solid black;
}
mat-grid-list.list mat-grid-tile.InProcess {
  background: rgb(234, 167, 140);
}

p.errorMessage {
  color: red;
  font-size: large;
  text-align: center;
}

p.tableName {
  font-size: larger;
}

div.buttons button {
  width: 80%;
  height: 80%;
}

button[disabled] {
  color: grey;
}

button {
  color: whitesmoke; 
  background: #353635; /* Old browsers */
  background: -moz-linear-gradient(top,  #353635 0%, #161716 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #353635 0%,#161716 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #353635 0%,#161716 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#353635', endColorstr='#161716',GradientType=0 ); /* IE6-9 */
  border-radius: 10px;
}

div.room * {
  margin-left: 5px;
}